<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field mb-3">
    <%= form.number_field :duration, placeholder: "Durée" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :title, placeholder: "Titre" %>
  </div>

  <div class="field mb-3">
    <%= form.text_area :description, placeholder: "Description"%>
  </div>

  <div class="field mb-3">
    <%= form.number_field :price, placeholder: "Prix" %>
  </div>

  <div class="field">
    <%= form.text_field :location, placeholder: "Lieu" %>
  </div>

  <div class="actions d-flex justify-content-center mt-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
