<div class="container">
  <h2 class="text-center text-secondary font-italic mt-5"><strong><%= @event.title %></strong></h2>
  <hr/>
  
  <div class="d-flex justify-content-center w-25">
    <img class="" src="https://picsum.photos/800/600?image=<%= 190 + @event.id %>">
  </div>

  <div>
  <p><strong class="text-primary mt-4">Description:</strong><br><%= @event.description %></p>
  <p><strong class="text-primary mt-4">Lieu: </strong><%= @event.location %></p>
  <p><strong class="text-primary">Prix:</strong><%= @event.price %>€</p>
  </div>



  <p class="d-flex justify-content-end align-items-center mr-2 text-secondary">
    <span class="text-primary text-capitalize mr-1">Organisé</span><span class="text-primary mr-1">par</span>
    <span class=""><%= @event.admin.email %></span>
    <img src="http://lorempixel.com/50/50/people/<%= @event.id %>" class="ml-2">
  </p>

  <table id="test" class="table table-striped table-hover ">
    <thead>
      <tr>
        <th scope="col" class="text-center">Début</th>
        <th scope="col" class="text-center">Durée</th>
        <th scope="col" class="text-center">Fin</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td class="text-center"><%= @event.start_date.strftime("%d/%m/%Y") %> à <%= @event.start_date.strftime("%Hh%M") %></td>
        <td class="text-center"><%= @event.duration %> minutes </td>
        <td class="text-center"><%= @end_date.strftime("%d/%m/%Y") %> à <%= @end_date.strftime("%Hh%M") %></td>
      </tr>
    </tbody>
  </table>

  <hr/>

  <% if is_admin? == true  %>

  <p>
    <strong>Participants:</strong>
    Il y a <%= @event.attendees.count %> participants à votre évènement :<br>
    <% @event.attendees.each do |attendee| %>
      <%= attendee.first_name + ' ' + attendee.last_name %><br>
    <% end %>
  </p>
  <div class="d-flex justify-content-center mb-4">
    <a  class="btn btn-primary mr-2" href="<%= edit_event_path(@event) %>" >Editer</a>
    <a  class="btn btn-danger mr-2" href="<%= @event %>" data-method="DELETE" data-confirm="Tourne 7 fois ta langue dans ta bouche... Tu es certain ?">Supprimer l'évènement</a>
    <a  class="btn btn-primary" href="<%= events_path %>" >Retour</a>
  </div>
  <% else %>
    <% if Event.find(params[:id]).attendees.include? current_user %>
      <div class="d-flex justify-content-center mb-4">
        <button type="button" class="btn btn-success" disabled><i class="fas fa-check mr-2"></i>Tu as déjà rejoint cet évènement</button>
        <a  class=" btn btn-primary ml-3" href="<%= events_path %>" >Retour</a>
      </div>
    <% else %>
      <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-primary mr-2" href="<%= new_charge_path(params[:id]) %>">Rejoindre l'event</a>
        <a  class=" btn btn-primary" href="<%= events_path %>" >Retour</a>
      </div>
    <% end %>
  <% end %>
</div>
